.vscode/**
.vscode-test/**
test/**
.devcontainer.json
.gitignore
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml
.yarnrc
vsc-extension-quickstart.md
repomix-output.xml
*.tgz
*.vsix
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
